$colors: (
  brand: (
    main: #233F53,
    highlight: #C57F2E
  ),
  text: (
    light: #F2F0F0,
    dark: #111111
  ),
  background: (
    element: #F2F0F0,
    dark: #111111
  ),
  alpha: (
    dark: rgba(17, 17, 17, .25)
  ),
  form: (
    success: #16940b,
    failure: #940b0b
  )
);

@function color($map, $key) {
  @if map-has-key($colors, $map) {
    @return map-get(map-get($colors, $map), $key);
  }

  @warn 'Unknown `#{$map}` in #{$colors}.';
  @return null;
}
