@import '../../../assets/scss/color';
@import '../../../assets/scss/mixins';

.services,
.cards {
  display: grid;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  padding-top: 2rem;

  @include desktop {
    display: grid;
    margin: 0;
    padding-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

.cards {
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;

  @include desktop {
    width: 50%;
    padding: 0;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid color('text', 'light');

    &::placeholder {
      color: color('brand', 'highlight');
    }
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
    color: color('text', 'light');
    font-weight: 400;
    border: 0;
    background-color:  color('brand', 'highlight');
    cursor: pointer;
    transition: .5s all;

    &:hover {
      transition: .5s all;
      color: color('brand', 'highlight');
      background-color:  color('background', 'element');
    }
  }

  .message {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    color: color('text', 'light');

    &.failure {
      background-color: color('form', 'failure');
    }

    &.success {
      background-color: color('form', 'success');
    }
  }
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: color('text', 'light');
  background-color: color('background', 'dark');

  a {
    color: color('brand', 'highlight');
  }
}
