<app-main-menu [menu]="menu" [social]="social"></app-main-menu>
<app-header></app-header>
<app-section id="sobre" title="Regivaldo Fernandes">
  <img src="../assets/images/me.jpg" loading="lazy" alt="Foto de rosto" class="space-normal profile">
  <div class="text">
    <p>Iniciei minha carreira de desenvolvimento de software em 2011, e desde então busco formas de melhor realizar meu trabalho.</p>
    <p>Hoje, tenho foco maior em soluções híbridas, que possam ser acessadas tanto no formato de websites quanto de aplicativos para smartphone.</p>
    <p>Foco em manter meu desenvolvimento seguindo os padrões de mercado, seguindo as melhores práticas da linguagem de programação que escolhi fazer uso. Garantindo assim que meu código seja de fácil manutenção e evolução.</p>
    <p>Possuo em meu portfólio sites organizacionais, landing pages, aplicativos, sistemas complexos e integrações entre sistemas. Assim, tenho experiência em desenvolver uma diversidade grande de sistemas e aplicações web.</p>
    <p>Meu trabalho inicia com a criação de um protótipo ou mockup para que o cliente possa ter uma visão mais clara do que deseja. Em seguida, após aprovado o protótipo, é realizado um documento descritivo sobre tudo o que será implementado e, em seguida, desenvolvo o site ou aplicativo desejado, sempre dando visibilidade para as etapas do desenvolvimento.</p>
    <p>Estou sempre em busca de me aperfeiçoar, realizando cursos e aprendendo mais sobre as mais modernas tecnologias, aplicando sempre o conhecimento nos meus projetos.</p>
    <p>Traga sua ideia e transforme em um sistema completo!</p>
  </div>
</app-section>
<app-section id="servicos" title="Meus Serviço" [odd]="true">
  <ul class="services">
    <li *ngFor="let service of services; let i = index">
      <app-card-icon
        [number]="i + 1"
        [title]="service.title"
        [text]="service.text"
        [image]="'../assets/images/' +  service.image"></app-card-icon>
    </li>
  </ul>
</app-section>
<app-section id="portfolio" title="Portfólio">
  <div class="cards">
    <app-card-image
      *ngFor="let port of portfolio; let i = index"
      [title]="port.name"
      [text]="port.description"
      [image]="port.id + '.jpg'"
      [link]="port.url"
    ></app-card-image>
  </div>
</app-section>
<app-section id="contato" title="Contato" [odd]="true">
  <p>Entre em contato pelas redes sociais</p>
  <app-social-menu [social]="social"></app-social-menu>
  <app-contact-form></app-contact-form>
</app-section>
<footer>
  <p>Site desenvolvido por <strong>Regivaldo Fernandes</strong>.</p>
  <p>Para entrar em contato, envie um e-mail para <a href="mailto:regivaldorfs@gmail.com">regivaldorfs@gmail.com</a></p>
</footer>
