@import '../assets/scss/color';
@import '../assets/scss/mixins';

.main {
  display: grid;
  width: 100%;
  place-items: center;

  header,
  section {
    width: 100%;
    padding-top: 3rem;
  }
}

.container {
  @include desktop {
    width: 1024px;
    margin: 0 auto;

  }
}

header {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: color('brand', 'main');
  background-image: url('../assets/images/header.png');
}

section {
  min-height: 100vh;

  &:nth-child(odd) {
    background-color: color('alpha', 'dark');
  }
}

.social {
  img {
    width: 1rem;
  }
}
