@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/mixins';

.icon {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 1rem;
  left: 50%;
  justify-content: center;

  @include desktop {
    display: flex;
    left: 0;
  }

  .mouse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 1.2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid color('brand', 'highlight');
    background-color: rgba(color('background', 'element'), .5);

    &:before {
      content: ' ';
      display: flex;
      margin-bottom: 2px;
      width: 2px;
      height: 6px;
      background-color: color('brand', 'highlight');
      border-radius: 1rem;
    }

    &:after {
      content: ' ';
      width: 2px;
      height: 2px;
      background-color: color('brand', 'highlight');
      border-radius: 1rem;
    }
  }
}
