@import 'assets/scss/color';
@import 'assets/scss/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: color('text', 'light');

  @include desktop {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.space {
  &-small {
    margin: .5rem 0;
  }

  &-normal {
    margin: 1rem 0;

    @include desktop {
      margin: 4rem 0;
    }
  }

  &-large {
    margin: 2rem 0;
  }
}

body {
  background-color: color('brand', 'main');
}

::-webkit-scrollbar {
  width: .25rem;

  &-track {
    background: color('background', 'element');
  }

  &-thumb {
    background: color('brand', 'highlight');

    &:hover {
      background: color('brand', 'main');
    }
  }
}
