@import 'assets/scss/index';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  @include cross-browser(font-smoothing, antialiased);
}

html {
  font-size: 16px
}
