<nav class="menu">
  <div class="container">
    <div class="left">
        <a
          *ngFor="let item of menu"
          [class.hidden]="!item.visible"
          [href]="'landing#' + item.url"
          [ngClass]="isActive(item.url) ? 'active' : ''"
        >{{ item.name }}</a>
    </div>
    <div class="right">
      <a
        *ngFor="let item of social"
        [href]="item.url"
        target="_blank"
      >
        <img [src]="'../assets/images/' + item.image" [alt]="item.name">
      </a>
    </div>
  </div>
</nav>
