
@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/mixins';

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;

  @include desktop {
    padding: 0;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid color('text', 'light');

    &::placeholder {
      color: color('brand', 'highlight');
    }
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
    color: color('text', 'light');
    font-weight: 400;
    border: 0;
    background-color:  color('brand', 'highlight');
    cursor: pointer;
    transition: .5s all;

    &:hover {
      transition: .5s all;
      color: color('brand', 'highlight');
      background-color:  color('background', 'element');
    }
  }

  .message {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    color: color('text', 'light');

    &.failure {
      background-color: color('form', 'failure');
    }

    &.success {
      background-color: color('form', 'success');
    }
  }
}
