
@import '../../../assets/scss/color';
@import '../../../assets/scss/mixins';

.menu {
  display: none;

  @include desktop {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    background-color: color('text', 'light');
  }

  .container {
    display: flex;
    width: 1024px;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
  }

  div {
    display: flex;
    gap: 1rem;
    justify-content: center;

    a {
      display: flex;
      text-decoration: none;
      align-items: center;
      color: color('text', 'dark');
      font-weight: 400;
      border-bottom: 2px solid transparent;

      &:hover,
      &.active {
        border-bottom: 2px solid color('brand', 'highlight');
      }

      img {
        width: 1rem;
        height: 1rem;
      }
    }

    &.left {
      a {
        padding: 1rem .5rem;
      }
    }

    &.right {
      a {
        padding: 1rem 0;
      }
    }
  }
}
